[submodule "third-party/slog"]
	path = third-party/slog
	url = https://github.com/kala13x/slog.git
[submodule "bindings/rust-vaccel"]
	path = bindings/rust-vaccel
	url = git@github.com:cloudkernels/vaccel-bindings
