name: Add Git Trailers to PR commits

on:
  workflow_call:
    inputs:
      actions-repo:
        type: string
        default: 'nubificus/vaccel'
      actions-rev:
        type: string
        default: 'main'
    secrets:
      GIT_CLONE_PAT:
        required: false
      VACCEL_BOT_PRIVATE_KEY:
        required: true
env:
  ACTIONS_REV: ${{ (github.repository != inputs.actions-repo) && inputs.actions-rev || '' }}

jobs:
  git-trailers:
    name: Add Git Trailers
    runs-on: [base-2204-amd64]
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Exit if PR is not rebaseable
        if: ${{ github.event.pull_request.rebaseable != null && github.event.pull_request.rebaseable == false }}
        run: exit 1

      - name: Checkout .github directory
        uses: actions/checkout@v6
        with:
          sparse-checkout: .github
          repository: ${{ inputs.actions-repo }}
          ref: ${{ env.ACTIONS_REV }}

      - name: Initialize workspace
        uses: ./.github/actions/initialize-workspace
        with:
          fetch-depth: 0
          remote-actions-repo: ${{ inputs.actions-repo }}
          token: ${{ secrets.GIT_CLONE_PAT || github.token }}

      - name: Generate vaccel-bot token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.VACCEL_BOT_APP_ID }}
          private-key: ${{ secrets.VACCEL_BOT_PRIVATE_KEY }}

      - name: Remove tests label
        uses: ./.github/actions/add-or-remove-pr-label
        with:
          issue-number: ${{ github.event.pull_request.number }}
          label: 'ok-to-test'
          token: ${{ steps.generate-token.outputs.token }}
          add: 'false'
          remove: 'true'

      - name: Append git trailers
        uses: nubificus/git-trailers@feat_use_rebase
        with:
          user_info: .github/contributors.yaml

      - name: Merge PR
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          PR_URL=${{ github.event.pull_request.html_url }}
          gh pr merge "$PR_URL" --rebase --admin
